FORMAT: 1A
HOST: https://api.simpleshop.cz/2.0/

# SimpleShop.cz API (v2)

API [SimpleShop.cz](https://www.simpleshop.cz/), verze 2.

## Odběr novinek pro developery

Chcete se dozvědět o novinkách a změnách v API z první ruky? Neváhejte se přihlásit do [seznamu pro developery](https://www.simpleshop.cz/api/newsletter/).

# Základní informace

SimpleShop.cz využívá REST API. Aktuálně je dostupné pouze API verze 2, starší již není možné použít.

Najdete-li v dokumentace chybu, [nahlaste nám](https://podpora.redbit.cz/kontakt/) ji prosím.
V případě nejasností nás prosím [kontaktujte](https://www.simpleshop.cz/kontakt/).

## Zásady

V zájmu zachování spolehlivosti a bezpečnosti prosíme dbejte na dodržení těchto zásad.

- Vždy se připojujte přes `HTTPS`, které zajišťuje bezpečnost vašich dat.
- Dbejte opatrnosti, aby se autorizační údaje (jméno a klíč) nedostaly do nepovolaných rukou.
- Pokud Váš server nezná náš SSL/TLS certifikát a odmítá se k němu připojit, **nevypínejte kontrolu certifikátu**,
ale požádejte správce vašeho serveru, aby aktualizoval v systému seznam důvěryhodných certifikátů, případně
použijte vhodný CA Bundle.

## Autorizace

Protože API pracuje s citlivými uživatelskými daty, nelze jej používat bez autorizace.

Autorizace požadavků se prování standardní [Basic access authentication](https://cs.wikipedia.org/wiki/Basic_access_authentication).
Jako přihlašovací jméno je použit e-mail uživatele, jako heslo použijte API klíč, který
získáte v [administraci API SimpleShop.cz](https://app.simpleshop.cz/nastaveni/api/).

## Chyby

Stavový kód při chybě je 4xx, případně 5xx, pokud se jedná o chybu na straně serveru. Chybové odpovědi vypadají následovně:

```json
{
  "status": "error",
  "message": "Validation failed",
  "inputError": {
    "id_payment_method": [
      "Nepodařilo se najít požadovanou platební metodu. "
    ]
  }
}
```

- Klíč `status` je obsažen vždy s fixní hodnotou error.
- Klíč `message` je obsažen vždy a obsahuje zprávu v angličtině s popisem chyby pro vývojáře, obsah zprávy se může měnit.
- Klíč `inputError` je zatím experimentální a může obsahovat lokalizované chyby týkající se konkrétních položek z dotazu.

Další položky do erroru můžou být přidány v budoucnosti, výčet proto nemusí být kompletní.

## Příklady volání API

V následujících příkladech je použito přihlašovací jméno `user@gmail.com` a klíč `VAS_API_KLIC`.

### cURL

Zavolání požadavku:
```shell
curl --user user@gmail.com:VAS_API_KLIC https://api.simpleshop.cz/2.0/test/
```

Navrácená hodnota:
```json
{
    "method": "GET",
    "message": "Welcome in SimpleShop.cz",
    "date": "2020-08-12 20:40:53"
}
```

### PHP

S využitím [SimpleShop.cz API SDK pro PHP](https://github.com/redbitcz/simpleshop-api-php)

```
<?php
$simpleshop_api = new SimpleShopAPI('user@gmail.com', 'VAS_API_KLIC');
$result = $simpleshop_api->test();
```

## Omezení API

Pomocí SimpleShop API nelze získat kód voucheru, vytvořit, smazat nebo upravit produkt, vytvořit pravidelnou fakturu (založit opakované platby).

## Webhooky

Podrobné informace o fungování webhooků a dostupných parametrech jsou uvedeny v [tomto článku naší nápovědy](https://podpora.redbit.cz/navod/webhooky/).

# Deprecated

Zastaralé funkce a parametry, jejichž podpora skončí.

### Obecně
| Změna                                   | Starý způsob              | Nově                     |
|-----------------------------------------|:-------------------------:|:------------------------:|
| Změna URL požadavku API SimpleShop      | `api.vyfakturuj.cz/2.0/`  | `api.simpleshop.cz/2.0/` |

# Group Produkty

## Produkty

<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>id</td>
        <td>int</td>
        <td>ID produktu</td>
        <td>R</td>
    </tr>
    <tr>
        <td>id_tag</td>
        <td>int</td>
        <td>ID štítku</td>
        <td>R</td>
    </tr>
    <tr>
        <td>type (povinné)</td>
        <td>string100</td>
        <td>Typ produktu
        <blockquote>
            <code>1</code> E-book<br>
            <code>2</code> Video / audio<br>
            <code>6</code> Členství<br>
            <code>7</code> Fyzické zboží<br>
            <code>9</code> Vstupenka<br>
            <code>11</code> Školení / kurz / webinář - online<br>
            <code>5</code> Školení / kurz - naživo<br>
            <code>12</code> Voucher<br>
            <code>13</code> Prodejní formulář<br>
            <code>14</code> Služba
        </blockquote></td>
        <td>R</td>
    </tr>
    <tr>
        <td>name (povinné)</td>
        <td>string100</td>
        <td>Název produktu</td>
        <td>R</td>
    </tr>
    <tr>
        <td>title (povinné)</td>
        <td>string100</td>
        <td>Titulek produktu</td>
        <td>R</td>
    </tr>
    <tr>
        <td>price (povinné)</td>
        <td>double</td>
        <td>Cena</td>
        <td>R</td>
    </tr>
    <tr>
        <td>store</td>
        <td>int</td>
        <td>Skladem</td>
        <td>R</td>
    </tr>
    <tr>
        <td>mj</td>
        <td>string3</td>
        <td>Množstevní jednotka</td>
        <td>R</td>
    </tr>
    <tr>
        <td>amount_type</td>
        <td>int</td>
        <td>Pole pro zadání množství ve formuláři
        <blockquote>
            <code>1</code> Zobrazeno<br>
            <code>2</code> Skryto
        </blockquote></td>
        <td>R</td>
    </tr>
    <tr>
        <td>coupon_type</td>
        <td>int</td>
        <td>Pole pro zadání slevového kupónu ve formuláři
        <blockquote>
            <code>1</code> Zobrazeno<br>
            <code>2</code> Skryto
        </blockquote></td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_billing_config</td>
        <td>array</td>
        <td>Konfigurace formuláře - fakturační údaje</td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_text_header_main</td>
        <td>string100</td>
        <td>Hlavní nadpis</td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_text_header_payment_method</td>
        <td>string100</td>
        <td>Nadpis pro výběr platební metody</td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_text_header_billing</td>
        <td>string100</td>
        <td>Nadpis pro zadání fakturačních údajů</td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_text_button_send</td>
        <td>string100</td>
        <td>Tlačítko pro odeslání formuláře</td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_text_button_sold</td>
        <td>string100</td>
        <td>Textace pro vyprodaný produkt</td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_text_button_add_person</td>
        <td>string100</td>
        <td>Tlačítko pro přidání dalšího jména</td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_person_enable</td>
        <td>bool</td>
        <td>Konfigurace formuláře - prodej na jmeno</td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_person_config</td>
        <td>array</td>
        <td>Konfigurace formuláře - prodej na jmeno</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_product</td>
        <td>string100</td>
        <td>URL po uhrazení</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_thank_you</td>
        <td>string100</td>
        <td>URL po objednani</td>
        <td>R</td>
    </tr>
    <tr>
        <td>sentence</td>
        <td>array</td>
        <td>Obchodní podmínky a jiné texty</td>
        <td>R</td>
    </tr>
    <tr>
        <td>form_html_code</td>
        <td>string2000</td>
        <td>JS, CSS a jiné kódy</td>
        <td>R</td>
    </tr>
    <tr>
        <td>archived</td>
        <td>bool</td>
        <td>Je produkt archivován?</td>
        <td>R</td>
    </tr>
    <tr>
        <td>code</td>
        <td>string100</td>
        <td>Kód produktu</td>
        <td>R</td>
    </tr>
    <tr>
        <td>script_iframe</td>
        <td>string1000</td>
        <td>JS kód pro vložení formuláře na stránku</td>
        <td>R</td>
    </tr>
</table>

## Varianty produktu

<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>name</td>
        <td>string100</td>
        <td>Název varianty</td>
        <td>R</td>
    </tr>
    <tr>
        <td>description</td>
        <td>string100</td>
        <td>Popis varianty</td>
        <td>R</td>
    </tr>
    <tr>
        <td>price</td>
        <td>double</td>
        <td>Cena varianty</td>
        <td>R</td>
    </tr>
    <tr>
        <td>quantity</td>
        <td>double</td>
        <td>Množství</td>
        <td>R</td>
    </tr>
    <tr>
        <td>store</td>
        <td>double</td>
        <td>Skladem</td>
        <td>R</td>
    </tr>
    <tr>
        <td>unit</td>
        <td>string10</td>
        <td>Množstevní jednotka (ks, kg, ...)</td>
        <td>R</td>
    </tr>
    <tr>
        <td>vat</td>
        <td>double</td>
        <td>Daň</td>
        <td>R</td>
    </tr>
</table>

## Práce s produktem [/product/{id}/]

### Získání produktu [GET]

+ Request (application/json)

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "id": "1728",
                    "type": "12",
                    "name": "Vstupenka",
                    "title": "Vstupenka",
                    "price": "1000.00",
                    "store": "",
                    "mj": "ks",
                    "amount_type": "1",
                    "coupon_type": "2",
                    "form_text_header_main": "",
                    "form_text_header_payment_method": "",
                    "form_text_header_billing": "",
                    "form_text_button_send": "",
                    "form_text_button_sold": "",
                    "form_text_button_add_person": "",
                    "form_person_enable": "2",
                    "url_product": "",
                    "url_thank_you": "",
                    "sentence": [],
                    "form_html_code": "",
                    "X_1": "0",
                    "variants": [],
                    "form_billing_config": {
                        "FIWSXXA3": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "4",
                            "id": "FIWSXXA3"
                        },
                        "hTDw3gQa": {
                            "name": "Jméno a příjmení (název firmy)",
                            "type": "-company-",
                            "grid": "1",
                            "required": "1",
                            "id": "hTDw3gQa"
                        },
                        "c1zwzuaR": {
                            "name": "-none-",
                            "type": "-address-",
                            "grid": "1",
                            "required": "1",
                            "id": "c1zwzuaR"
                        },
                        "p5gzYnZu": {
                            "name": "",
                            "type": "-tel-",
                            "grid": "1",
                            "required": "2",
                            "id": "p5gzYnZu"
                        },
                        "VMcIACCH": {
                            "name": "",
                            "type": "-note-",
                            "grid": "1",
                            "required": "2",
                            "id": "VMcIACCH"
                        },
                        "m54fbLgd": {
                            "name": "-none-",
                            "type": "-ic-dic-",
                            "grid": "1",
                            "required": "2",
                            "id": "m54fbLgd"
                        },
                        "vGLucAxX": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "2",
                            "id": "vGLucAxX"
                        },
                        "rqar7NB8": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "2",
                            "id": "rqar7NB8"
                        }
                    },
                    "form_person_config": {
                        "kCt57C99": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "4",
                            "id": "kCt57C99"
                        },
                        "5MUu03If": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "4",
                            "id": "5MUu03If"
                        },
                        "cIR1OYzM": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "4",
                            "id": "cIR1OYzM"
                        },
                        "IwG1Iek9": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "4",
                            "id": "IwG1Iek9"
                        },
                        "ZRDcQBd9": {
                            "name": "",
                            "type": "-jobTitle-",
                            "grid": "1",
                            "required": "4",
                            "id": "ZRDcQBd9"
                        },
                        "WwRM64JT": {
                            "name": "Druhá pozice",
                            "type": "input",
                            "grid": "1",
                            "required": "1",
                            "id": "WwRM64JT"
                        }
                    },
                    "code": "dPVo",
                    "archived": false,
                    "script_iframe": "<!-- www.SimpleShop.cz form#1728 start -->\n<div data-SimpleShopForm=\"dPVo\"><div>Prodejní formulář je vytvořen v systému <a href=\"https://www.simpleshop.cz/?utm_source=simpleshop&utm_medium=form&utm_campaign=7650\" target=\"_blank\">SimpleShop.cz</a>.</div></div>\n<script>\n (function(i, s, o, g, r, a, m){\n  i[r] = i[r] || function(){\n   (i[r].q = i[r].q || []).push(arguments)\n  }, i[r].l = 1 * new Date();\n  a = s.createElement(o),\n  m = s.getElementsByTagName(o)[0];\n  a.async = 1;\n  a.src = g;\n  m.parentNode.insertBefore(a, m)\n })(window, document, \"script\", \"https://form.simpleshop.cz/prj/js/SimpleShopService.js\", \"sss\");\n sss(\"createForm\", \"dPVo\");\n</script>\n<!-- www.SimpleShop.cz form#1728 end -->\n"
                },
                {
                    "id": "1729",
                    "type": "11",
                    "name": "test",
                    "title": "",
                    "price": "0.00",
                    "store": "",
                    "mj": "",
                    "amount_type": "0",
                    "coupon_type": 2,
                    "url_product": "",
                    "url_thank_you": "",
                    "X_1": "0",
                    "variants": [],
                    "form_billing_config": {
                        "0": {
                            "name": "-none-",
                            "type": "-email-",
                            "required": 4
                        },
                        "1": {
                            "name": "Jméno a příjmení (název firmy)",
                            "type": "-company-",
                            "required": 1
                        },
                        "2": {
                            "name": "-none-",
                            "type": "-address-",
                            "required": 1
                        },
                        "4": {
                            "name": "-none-",
                            "type": "-tel-",
                            "required": 2
                        },
                        "5": {
                            "name": "-none-",
                            "type": "-note-",
                            "required": 2
                        }
                    },
                    "code": "16EY",
                    "archived": true,
                    "script_iframe": "<!-- www.SimpleShop.cz form#1729 start -->\n<div data-SimpleShopForm=\"16EY\"><div>Prodejní formulář je vytvořen v systému <a href=\"https://www.simpleshop.cz/?utm_source=simpleshop&utm_medium=form&utm_campaign=7650\" target=\"_blank\">SimpleShop.cz</a>.</div></div>\n<script>\n (function(i, s, o, g, r, a, m){\n  i[r] = i[r] || function(){\n   (i[r].q = i[r].q || []).push(arguments)\n  }, i[r].l = 1 * new Date();\n  a = s.createElement(o),\n  m = s.getElementsByTagName(o)[0];\n  a.async = 1;\n  a.src = g;\n  m.parentNode.insertBefore(a, m)\n })(window, document, \"script\", \"https://form.simpleshop.cz/prj/js/SimpleShopService.js\", \"sss\");\n sss(\"createForm\", \"16EY\");\n</script>\n<!-- www.SimpleShop.cz form#1729 end -->\n"
                },
                {
                    "id": "30564",
                    "type": "11",
                    "name": "Prodej na jméno - ukázka",
                    "title": "Prodej na jméno - ukázka",
                    "price": "200.00",
                    "store": "",
                    "mj": "ks",
                    "amount_type": "1",
                    "coupon_type": "2",
                    "form_text_header_main": "",
                    "form_text_header_payment_method": "",
                    "form_text_header_billing": "",
                    "form_text_button_send": "",
                    "form_text_button_add_person": "",
                    "form_person_enable": "1",
                    "url_product": "",
                    "url_thank_you": "",
                    "sentence": [],
                    "form_html_code": "",
                    "X_1": "0",
                    "variants": [
                        {
                            "name": "a",
                            "description": "",
                            "price": "2.00",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": "21"
                        },
                        {
                            "name": "d",
                            "description": "",
                            "price": "3.00",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": "21"
                        }
                    ],
                    "form_billing_config": {
                        "XbAkVpKx": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "4",
                            "id": "XbAkVpKx"
                        },
                        "qL2nmucW": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "2",
                            "id": "qL2nmucW"
                        },
                        "sQbKjQfN": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "2",
                            "id": "sQbKjQfN"
                        },
                        "hPj0TN82": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "2",
                            "id": "hPj0TN82"
                        },
                        "NBl7B68C": {
                            "name": "-none-",
                            "type": "-address-",
                            "grid": "1",
                            "required": "2",
                            "id": "NBl7B68C"
                        },
                        "aSGaRAqj": {
                            "name": "-none-",
                            "type": "-ic-dic-",
                            "grid": "1",
                            "required": "2",
                            "id": "aSGaRAqj"
                        },
                        "sw0FZFG4": {
                            "name": "",
                            "type": "-tel-",
                            "grid": "1",
                            "required": "2",
                            "id": "sw0FZFG4"
                        },
                        "BH7n2pc5": {
                            "name": "",
                            "type": "-note-",
                            "grid": "1",
                            "required": "2",
                            "id": "BH7n2pc5"
                        }
                    },
                    "form_person_config": {
                        "Vt58teOq": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1-2",
                            "required": "4",
                            "id": "Vt58teOq"
                        },
                        "LpVM0HBR": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1-2",
                            "required": "1",
                            "id": "LpVM0HBR"
                        },
                        "wNQO5f3E": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1-2",
                            "required": "1",
                            "id": "wNQO5f3E"
                        },
                        "AnGmvKiJ": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1-2",
                            "required": "1",
                            "id": "AnGmvKiJ"
                        },
                        "QoC37hgk": {
                            "name": "",
                            "type": "-jobTitle-",
                            "grid": "1-2",
                            "required": "1",
                            "id": "QoC37hgk"
                        },
                        "JldQSF8d": {
                            "name": "Druhá pozice",
                            "type": "input",
                            "grid": "1-2",
                            "required": "2",
                            "id": "JldQSF8d"
                        },
                        "yRmqe5tB": {
                            "name": "Kolik máte očí? [Jedno - jsem kyklop|Dvě - jsem obyčejný člověk|Tři - kykločlověk|Nevím]",
                            "type": "select",
                            "grid": "1-2",
                            "required": "1",
                            "id": "yRmqe5tB"
                        },
                        "R6HlaGD7": {
                            "name": "Co bylo dřív? Slepice nebo vejce? [Slepice|Vejce]",
                            "type": "radios",
                            "grid": "1-2",
                            "required": "1",
                            "id": "R6HlaGD7"
                        },
                        "dAHwjUvk": {
                            "name": "Co je delfín? [Samec|Savec|Píseň od Lucie Vondráčkové|Aquapark v Uherském Brodě]",
                            "type": "checkboxes",
                            "grid": "1-2",
                            "required": "1",
                            "id": "dAHwjUvk"
                        },
                        "0xChQHJd": {
                            "name": "Kdy dorazíte?",
                            "type": "date",
                            "grid": "1-2",
                            "required": "1",
                            "id": "0xChQHJd"
                        },
                        "1Mjoa0o8": {
                            "name": "V kolik dorazíte?",
                            "type": "time",
                            "grid": "1-2",
                            "required": "1",
                            "id": "1Mjoa0o8"
                        }
                    },
                    "code": "gkJw",
                    "archived": false,
                    "script_iframe": "<!-- www.SimpleShop.cz form#30564 start -->\n<div data-SimpleShopForm=\"gkJw\"><div>Prodejní formulář je vytvořen v systému <a href=\"https://www.simpleshop.cz/?utm_source=simpleshop&utm_medium=form&utm_campaign=7650\" target=\"_blank\">SimpleShop.cz</a>.</div></div>\n<script>\n (function(i, s, o, g, r, a, m){\n  i[r] = i[r] || function(){\n   (i[r].q = i[r].q || []).push(arguments)\n  }, i[r].l = 1 * new Date();\n  a = s.createElement(o),\n  m = s.getElementsByTagName(o)[0];\n  a.async = 1;\n  a.src = g;\n  m.parentNode.insertBefore(a, m)\n })(window, document, \"script\", \"https://form.simpleshop.cz/prj/js/SimpleShopService.js\", \"sss\");\n sss(\"createForm\", \"gkJw\");\n</script>\n<!-- www.SimpleShop.cz form#30564 end -->\n"
                },
                {
                    "id": "30660",
                    "type": "1",
                    "name": "Dlouhodobý marketing",
                    "title": "Dlouhodobý marketing",
                    "price": "100.00",
                    "store": "",
                    "mj": "ks",
                    "amount_type": "1",
                    "coupon_type": "1",
                    "form_text_header_main": "",
                    "form_text_header_payment_method": "",
                    "form_text_header_billing": "",
                    "form_text_button_send": "",
                    "form_text_button_sold": "",
                    "form_person_config": [],
                    "url_product": "",
                    "url_thank_you": "",
                    "sentence": [],
                    "form_html_code": "",
                    "X_1": "0",
                    "variants": [],
                    "form_billing_config": {
                        "6uArnLeE": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "4",
                            "id": "6uArnLeE"
                        },
                        "ILGlT0KI": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "2",
                            "id": "ILGlT0KI"
                        },
                        "dHd6bxzU": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "2",
                            "id": "dHd6bxzU"
                        },
                        "zj0tBbuS": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "2",
                            "id": "zj0tBbuS"
                        },
                        "UJDjXRyn": {
                            "name": "-none-",
                            "type": "-address-",
                            "grid": "1",
                            "required": "2",
                            "id": "UJDjXRyn"
                        },
                        "dzkpkd3D": {
                            "name": "-none-",
                            "type": "-ic-dic-",
                            "grid": "1",
                            "required": "2",
                            "id": "dzkpkd3D"
                        },
                        "i6i9V5Bn": {
                            "name": "",
                            "type": "-tel-",
                            "grid": "1",
                            "required": "2",
                            "id": "i6i9V5Bn"
                        },
                        "6TErcvGG": {
                            "name": "",
                            "type": "-note-",
                            "grid": "1",
                            "required": "2",
                            "id": "6TErcvGG"
                        }
                    },
                    "code": "lGOO",
                    "archived": false,
                    "script_iframe": "<!-- www.SimpleShop.cz form#30660 start -->\n<div data-SimpleShopForm=\"lGOO\"><div>Prodejní formulář je vytvořen v systému <a href=\"https://www.simpleshop.cz/?utm_source=simpleshop&utm_medium=form&utm_campaign=7650\" target=\"_blank\">SimpleShop.cz</a>.</div></div>\n<script>\n (function(i, s, o, g, r, a, m){\n  i[r] = i[r] || function(){\n   (i[r].q = i[r].q || []).push(arguments)\n  }, i[r].l = 1 * new Date();\n  a = s.createElement(o),\n  m = s.getElementsByTagName(o)[0];\n  a.async = 1;\n  a.src = g;\n  m.parentNode.insertBefore(a, m)\n })(window, document, \"script\", \"https://form.simpleshop.cz/prj/js/SimpleShopService.js\", \"sss\");\n sss(\"createForm\", \"lGOO\");\n</script>\n<!-- www.SimpleShop.cz form#30660 end -->\n"
                },
                {
                    "id": "62448",
                    "type": "9",
                    "name": "Madakaskar diashow s dárkovým poukazem - vánoce 2022",
                    "title": "Madakaskar diashow s dárkovým poukazem - vánoce 2022",
                    "price": "0.00",
                    "store": "",
                    "mj": "ks",
                    "amount_type": "1",
                    "coupon_type": "2",
                    "form_text_header_main": "",
                    "form_text_header_payment_method": "",
                    "form_text_header_billing": "",
                    "form_text_button_send": "",
                    "form_text_button_sold": "",
                    "form_text_button_add_person": "",
                    "form_person_enable": "1",
                    "url_product": "",
                    "url_thank_you": "",
                    "sentence": [],
                    "form_html_code": "",
                    "X_1": "0",
                    "variants": [
                        {
                            "name": "Základní vstupné",
                            "description": "",
                            "price": "196.00",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": "21"
                        },
                        {
                            "name": "Snížené vstupné",
                            "description": "",
                            "price": "99.00",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": "21"
                        },
                        {
                            "name": "Prémiové vstupné",
                            "description": "",
                            "price": "239.00",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": "21"
                        },
                        {
                            "name": "-- Chcete-li další dárkový poukaz, vytvořte si po zaplacení této objednávky objednávku novou. --",
                            "description": "",
                            "price": "",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": "21"
                        }
                    ],
                    "form_billing_config": {
                        "HFywQYs5": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "4",
                            "id": "HFywQYs5"
                        },
                        "lmq5JoTo": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "2",
                            "id": "lmq5JoTo"
                        },
                        "1Kaqd6Z7": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "2",
                            "id": "1Kaqd6Z7"
                        },
                        "6qz2CWXT": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "2",
                            "id": "6qz2CWXT"
                        },
                        "N2zczFAR": {
                            "name": "-none-",
                            "type": "-address-",
                            "grid": "1",
                            "required": "2",
                            "id": "N2zczFAR"
                        },
                        "gHzcWdfA": {
                            "name": "-none-",
                            "type": "-ic-dic-",
                            "grid": "1",
                            "required": "2",
                            "id": "gHzcWdfA"
                        },
                        "D0giVM67": {
                            "name": "",
                            "type": "-tel-",
                            "grid": "1",
                            "required": "2",
                            "id": "D0giVM67"
                        },
                        "gQ7ID2lG": {
                            "name": "",
                            "type": "-note-",
                            "grid": "1",
                            "required": "2",
                            "id": "gQ7ID2lG"
                        }
                    },
                    "form_person_config": {
                        "6JiT1ahR": {
                            "name": "Sem napište krátké věnování. Např.: Pro dědečka Viléma, Nejmilejší sestře Jarmile a pod.:",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "1",
                            "id": "6JiT1ahR"
                        },
                        "BcHZie5Z": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "1",
                            "id": "BcHZie5Z"
                        },
                        "BQMFfq57": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "1",
                            "id": "BQMFfq57"
                        },
                        "NIoARsdh": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "2",
                            "id": "NIoARsdh"
                        },
                        "HFyKPQkb": {
                            "name": "",
                            "type": "-jobTitle-",
                            "grid": "1",
                            "required": "2",
                            "id": "HFyKPQkb"
                        },
                        "zZ5qH471": {
                            "name": "Druhá pozice",
                            "type": "input",
                            "grid": "1",
                            "required": "2",
                            "id": "zZ5qH471"
                        }
                    },
                    "code": "xA4e",
                    "archived": false,
                    "script_iframe": "<!-- www.SimpleShop.cz form#62448 start -->\n<div data-SimpleShopForm=\"xA4e\"><div>Prodejní formulář je vytvořen v systému <a href=\"https://www.simpleshop.cz/?utm_source=simpleshop&utm_medium=form&utm_campaign=7650\" target=\"_blank\">SimpleShop.cz</a>.</div></div>\n<script>\n (function(i, s, o, g, r, a, m){\n  i[r] = i[r] || function(){\n   (i[r].q = i[r].q || []).push(arguments)\n  }, i[r].l = 1 * new Date();\n  a = s.createElement(o),\n  m = s.getElementsByTagName(o)[0];\n  a.async = 1;\n  a.src = g;\n  m.parentNode.insertBefore(a, m)\n })(window, document, \"script\", \"https://form.simpleshop.cz/prj/js/SimpleShopService.js\", \"sss\");\n sss(\"createForm\", \"xA4e\");\n</script>\n<!-- www.SimpleShop.cz form#62448 end -->\n"
                },
                {
                    "id": "80977",
                    "type": "7",
                    "name": "Prodej knih",
                    "title": "Prodej knih",
                    "price": "0.00",
                    "store": "",
                    "mj": "ks",
                    "amount_type": "1",
                    "coupon_type": "2",
                    "form_text_header_main": "",
                    "form_text_header_payment_method": "",
                    "form_text_header_billing": "",
                    "form_text_button_send": "",
                    "form_text_button_sold": "",
                    "form_person_config": [],
                    "url_product": "",
                    "url_thank_you": "",
                    "sentence": [],
                    "form_html_code": "",
                    "X_1": "0",
                    "variants": [
                        {
                            "name": "Kniha o melounech",
                            "description": "",
                            "price": "250.00",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": "21"
                        },
                        {
                            "name": "Kniha o karambole",
                            "description": "",
                            "price": "250.00",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": "21"
                        },
                        {
                            "name": "Kniha o jablkách",
                            "description": "",
                            "price": "250.00",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": "21"
                        }
                    ],
                    "form_billing_config": {
                        "Z0rU1jbV": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "4",
                            "id": "Z0rU1jbV"
                        },
                        "DBz6O5A5": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "2",
                            "id": "DBz6O5A5"
                        },
                        "XrF6kzlA": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "2",
                            "id": "XrF6kzlA"
                        },
                        "EpL3LMxA": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "2",
                            "id": "EpL3LMxA"
                        },
                        "O1ikjXzz": {
                            "name": "-none-",
                            "type": "-address-",
                            "grid": "1",
                            "required": "2",
                            "id": "O1ikjXzz"
                        },
                        "rlxIL9FR": {
                            "name": "-none-",
                            "type": "-ic-dic-",
                            "grid": "1",
                            "required": "2",
                            "id": "rlxIL9FR"
                        },
                        "CyWrHVHO": {
                            "name": "",
                            "type": "-tel-",
                            "grid": "1",
                            "required": "2",
                            "id": "CyWrHVHO"
                        },
                        "m2KTVxLS": {
                            "name": "",
                            "type": "-note-",
                            "grid": "1",
                            "required": "2",
                            "id": "m2KTVxLS"
                        }
                    },
                    "code": "RMl7",
                    "archived": false,
                    "script_iframe": "<!-- www.SimpleShop.cz form#80977 start -->\n<div data-SimpleShopForm=\"RMl7\"><div>Prodejní formulář je vytvořen v systému <a href=\"https://www.simpleshop.cz/?utm_source=simpleshop&utm_medium=form&utm_campaign=7650\" target=\"_blank\">SimpleShop.cz</a>.</div></div>\n<script>\n (function(i, s, o, g, r, a, m){\n  i[r] = i[r] || function(){\n   (i[r].q = i[r].q || []).push(arguments)\n  }, i[r].l = 1 * new Date();\n  a = s.createElement(o),\n  m = s.getElementsByTagName(o)[0];\n  a.async = 1;\n  a.src = g;\n  m.parentNode.insertBefore(a, m)\n })(window, document, \"script\", \"https://form.simpleshop.cz/prj/js/SimpleShopService.js\", \"sss\");\n sss(\"createForm\", \"RMl7\");\n</script>\n<!-- www.SimpleShop.cz form#80977 end -->\n"
                },
                {
                    "id": "96869",
                    "type": "2",
                    "name": "Video",
                    "title": "Video",
                    "price": "10.00",
                    "store": "",
                    "mj": "ks",
                    "amount_type": "1",
                    "coupon_type": "2",
                    "form_text_header_main": "",
                    "form_text_header_payment_method": "",
                    "form_text_header_billing": "",
                    "form_text_button_send": "",
                    "form_text_button_sold": "",
                    "form_person_config": [],
                    "url_product": "",
                    "url_thank_you": "",
                    "sentence": [],
                    "form_html_code": "",
                    "X_1": "0",
                    "variants": [],
                    "form_billing_config": {
                        "YCwH3dMi": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "4",
                            "id": "YCwH3dMi"
                        },
                        "Z6m7y4y9": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "2",
                            "id": "Z6m7y4y9"
                        },
                        "O89j6AoN": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "2",
                            "id": "O89j6AoN"
                        },
                        "qZyL2Lwk": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "2",
                            "id": "qZyL2Lwk"
                        },
                        "cFAzqoqA": {
                            "name": "-none-",
                            "type": "-address-",
                            "grid": "1",
                            "required": "2",
                            "id": "cFAzqoqA"
                        },
                        "S0DC4aBr": {
                            "name": "-none-",
                            "type": "-ic-dic-",
                            "grid": "1",
                            "required": "2",
                            "id": "S0DC4aBr"
                        },
                        "OR5vOwEe": {
                            "name": "",
                            "type": "-tel-",
                            "grid": "1",
                            "required": "2",
                            "id": "OR5vOwEe"
                        },
                        "5iuST5nC": {
                            "name": "",
                            "type": "-note-",
                            "grid": "1",
                            "required": "2",
                            "id": "5iuST5nC"
                        }
                    },
                    "code": "D2M2O",
                    "archived": false,
                    "script_iframe": "<!-- www.SimpleShop.cz form#96869 start -->\n<div data-SimpleShopForm=\"D2M2O\"><div>Prodejní formulář je vytvořen v systému <a href=\"https://www.simpleshop.cz/?utm_source=simpleshop&utm_medium=form&utm_campaign=7650\" target=\"_blank\">SimpleShop.cz</a>.</div></div>\n<script>\n (function(i, s, o, g, r, a, m){\n  i[r] = i[r] || function(){\n   (i[r].q = i[r].q || []).push(arguments)\n  }, i[r].l = 1 * new Date();\n  a = s.createElement(o),\n  m = s.getElementsByTagName(o)[0];\n  a.async = 1;\n  a.src = g;\n  m.parentNode.insertBefore(a, m)\n })(window, document, \"script\", \"https://form.simpleshop.cz/prj/js/SimpleShopService.js\", \"sss\");\n sss(\"createForm\", \"D2M2O\");\n</script>\n<!-- www.SimpleShop.cz form#96869 end -->\n"
                },
                {
                    "id": "110577",
                    "type": "7",
                    "name": "Stripe test",
                    "title": "Stripe test",
                    "price": "30.00",
                    "store": "",
                    "mj": "ks",
                    "amount_type": "1",
                    "coupon_type": "2",
                    "form_text_header_main": "",
                    "form_text_header_payment_method": "",
                    "form_text_header_billing": "",
                    "form_text_button_send": "",
                    "form_text_button_sold": "",
                    "form_person_config": [],
                    "url_product": "",
                    "url_thank_you": "",
                    "sentence": [],
                    "form_html_code": "",
                    "X_1": "0",
                    "variants": [],
                    "form_billing_config": {
                        "Drk2LwlS": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "4",
                            "id": "Drk2LwlS"
                        },
                        "VPgdfjBp": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "2",
                            "id": "VPgdfjBp"
                        },
                        "JnickYaU": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "2",
                            "id": "JnickYaU"
                        },
                        "TXBJhtyn": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "2",
                            "id": "TXBJhtyn"
                        },
                        "VlB9FL8X": {
                            "name": "-none-",
                            "type": "-address-",
                            "grid": "1",
                            "required": "2",
                            "id": "VlB9FL8X"
                        },
                        "W3LzjUqA": {
                            "name": "-none-",
                            "type": "-ic-dic-",
                            "grid": "1",
                            "required": "2",
                            "id": "W3LzjUqA"
                        },
                        "FmfrDjtf": {
                            "name": "",
                            "type": "-tel-",
                            "grid": "1",
                            "required": "2",
                            "id": "FmfrDjtf"
                        },
                        "h0lHeJsk": {
                            "name": "",
                            "type": "-note-",
                            "grid": "1",
                            "required": "2",
                            "id": "h0lHeJsk"
                        }
                    },
                    "code": "RY0AA",
                    "archived": false,
                    "script_iframe": "<!-- www.SimpleShop.cz form#110577 start -->\n<div data-SimpleShopForm=\"RY0AA\"><div>Prodejní formulář je vytvořen v systému <a href=\"https://www.simpleshop.cz/?utm_source=simpleshop&utm_medium=form&utm_campaign=7650\" target=\"_blank\">SimpleShop.cz</a>.</div></div>\n<script>\n (function(i, s, o, g, r, a, m){\n  i[r] = i[r] || function(){\n   (i[r].q = i[r].q || []).push(arguments)\n  }, i[r].l = 1 * new Date();\n  a = s.createElement(o),\n  m = s.getElementsByTagName(o)[0];\n  a.async = 1;\n  a.src = g;\n  m.parentNode.insertBefore(a, m)\n })(window, document, \"script\", \"https://form.simpleshop.cz/prj/js/SimpleShopService.js\", \"sss\");\n sss(\"createForm\", \"RY0AA\");\n</script>\n<!-- www.SimpleShop.cz form#110577 end -->\n"
                },
                {
                    "id": "119956",
                    "type": "9",
                    "name": "assdf",
                    "title": "assdf",
                    "price": "0.00",
                    "store": "",
                    "mj": "ks",
                    "amount_type": "1",
                    "coupon_type": "2",
                    "form_text_header_main": "",
                    "form_text_header_payment_method": "",
                    "form_text_header_billing": "",
                    "form_text_button_send": "",
                    "form_text_button_sold": "",
                    "form_text_button_add_person": "",
                    "form_person_enable": "1",
                    "url_product": "",
                    "url_thank_you": "",
                    "sentence": [],
                    "form_html_code": "",
                    "X_1": "0",
                    "variants": [
                        {
                            "name": "fd",
                            "description": "",
                            "price": "75.00",
                            "quantity": null,
                            "store": null,
                            "unit": "",
                            "vat": ""
                        }
                    ],
                    "form_billing_config": {
                        "teWF8uiT": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "12",
                            "id": "teWF8uiT"
                        },
                        "GlwCaolj": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "2",
                            "id": "GlwCaolj"
                        },
                        "Tt6nYNH2": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "2",
                            "id": "Tt6nYNH2"
                        },
                        "SUjDJXMD": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "2",
                            "id": "SUjDJXMD"
                        },
                        "K2EGa031": {
                            "name": "-none-",
                            "type": "-address-",
                            "grid": "1",
                            "required": "2",
                            "id": "K2EGa031"
                        },
                        "MY5v8ZPQ": {
                            "name": "-none-",
                            "type": "-ic-dic-",
                            "grid": "1",
                            "required": "2",
                            "id": "MY5v8ZPQ"
                        },
                        "4FmYiUkP": {
                            "name": "",
                            "type": "-tel-",
                            "grid": "1",
                            "required": "2",
                            "id": "4FmYiUkP"
                        },
                        "RahXCEKR": {
                            "name": "",
                            "type": "-note-",
                            "grid": "1",
                            "required": "2",
                            "id": "RahXCEKR"
                        }
                    },
                    "form_person_config": {
                        "3jeVLlgZ": {
                            "name": "",
                            "type": "-firstname-",
                            "grid": "1",
                            "required": "4",
                            "id": "3jeVLlgZ"
                        },
                        "lt8UCSgX": {
                            "name": "",
                            "type": "-lastname-",
                            "grid": "1",
                            "required": "4",
                            "id": "lt8UCSgX"
                        },
                        "djD2JQZF": {
                            "name": "",
                            "type": "-email-",
                            "grid": "1",
                            "required": "4",
                            "id": "djD2JQZF"
                        },
                        "nZTyltPI": {
                            "name": "",
                            "type": "-company-",
                            "grid": "1",
                            "required": "4",
                            "id": "nZTyltPI"
                        },
                        "EAdcpYqK": {
                            "name": "",
                            "type": "-jobTitle-",
                            "grid": "1",
                            "required": "4",
                            "id": "EAdcpYqK"
                        }
                    },
                    "code": "AaGPe",
                    "archived": false,
                    "script_iframe": "<!-- www.SimpleShop.cz form#119956 start -->\n<div data-SimpleShopForm=\"AaGPe\"><div>Prodejní formulář je vytvořen v systému <a href=\"https://www.simpleshop.cz/?utm_source=simpleshop&utm_medium=form&utm_campaign=7650\" target=\"_blank\">SimpleShop.cz</a>.</div></div>\n<script>\n (function(i, s, o, g, r, a, m){\n  i[r] = i[r] || function(){\n   (i[r].q = i[r].q || []).push(arguments)\n  }, i[r].l = 1 * new Date();\n  a = s.createElement(o),\n  m = s.getElementsByTagName(o)[0];\n  a.async = 1;\n  a.src = g;\n  m.parentNode.insertBefore(a, m)\n })(window, document, \"script\", \"https://form.simpleshop.cz/prj/js/SimpleShopService.js\", \"sss\");\n sss(\"createForm\", \"AaGPe\");\n</script>\n<!-- www.SimpleShop.cz form#119956 end -->\n"
                }
            ]

# Group Faktury

## Faktury


<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>id</td>
        <td>int</td>
        <td>ID dokumentu</td>
        <td>R</td>
    </tr>
    <tr>
        <td>id_identity</td>
        <td>int</td>
        <td>ID identity</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_customer</td>
        <td>int</td>
        <td>ID zaznamu v adresáři</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_number_series</td>
        <td>int</td>
        <td>ID číselné řady</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_payment_method</td>
        <td>int</td>
        <td>ID platební metody</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_center</td>
        <td>int</td>
        <td>ID střediska</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_tag</td>
        <td>int</td>
        <td>ID štítku</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_predkontace</td>
        <td>int</td>
        <td>ID předkontace</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_cleneniDPH</td>
        <td>int</td>
        <td>ID členění DPH</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_coupon</td>
        <td>int</td>
        <td>ID slevového kupónu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_parent</td>
        <td>int</td>
        <td>ID nadřazeného dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>type</td>
        <td>int</td>
        <td>Typ dokladu
        <blockquote>
            <code>1</code> Faktura<br>
            <code>2</code> Zálohová faktura<br>
            <code>4</code> Proforma faktura<br>
            <code>8</code> Výzva k platbě<br>
            <code>16</code> Daňový doklad<br>
            <code>32</code> Opravný daňový doklad<br>
            <code>64</code> Příjmový doklad<br>
            <code>128</code> Opravný doklad<br>
            <code>512</code> Objednávka
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>flags</td>
        <td>int</td>
        <td>Příznaky
        <blockquote>
            <code>1</code> Dokument obsahuje DPH<br>
            <code>2</code> Uhrazeno<br>
            <code>4</code> Odesláno e-mailem zákazníkovi<br>
            <code>8</code> Doklad je stornován<br>
            <code>16</code> Odeslána e-mailem zákazníkovi upomínka<br>
            <code>32</code> Přeplatek<br>
            <code>64</code> Nedoplatek<br>
            <code>256</code> Doklad byl stažen účetním<br>
            <code>1024</code> Čeká na odeslání přepravní společnosti<br>
            <code>4096</code> Archivováno<br>
            <code>65536</code> Doklad v OSS
        </blockquote></td>
        <td>R</td>
    </tr>
    <tr>
        <td>number</td>
        <td>string</td>
        <td>Číslo dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_created</td>
        <td>date</td>
        <td>Datum vytvoření</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_due</td>
        <td>date</td>
        <td>Datum splatnosti</td>
        <td>R</td>
    </tr>
    <tr>
        <td>date_taxable_supply</td>
        <td>date</td>
        <td>Datum zdanitelného plnění</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_paid</td>
        <td>date</td>
        <td>Uhrazeno dne</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_reminder</td>
        <td>date</td>
        <td>Datum zaslání 1. připomínky</td>
        <td>R</td>
    </tr>
    <tr>
        <td>date_reminder_2</td>
        <td>date</td>
        <td>Datum zaslání 2. připomínky</td>
        <td>R</td>
    </tr>
    <tr>
        <td>date_reminder_3</td>
        <td>date</td>
        <td>Datum zaslání 3. připomínky</td>
        <td>R</td>
    </tr>
    <tr>
        <td>days_due</td>
        <td>int</td>
        <td>Splatnost (dny)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_IC</td>
        <td>string25</td>
        <td>Dodavatel - IČO</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_DIC</td>
        <td>string25</td>
        <td>Dodavatel - DIČ</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_IDNUM3</td>
        <td>string25</td>
        <td>Dodavatel - Třetí identifikátor firmy (např. DIČ pro SK)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_name</td>
        <td>string200</td>
        <td>Dodavatel - název firmy</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_street</td>
        <td>string150</td>
        <td>Dodavatel - ulice</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_city</td>
        <td>string100</td>
        <td>Dodavatel - město</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_zip</td>
        <td>string25</td>
        <td>Dodavatel - PSČ</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_country_code</td>
        <td>string2</td>
        <td>Dodavatel - Kód země (ISO 3166-2)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_contact_name</td>
        <td>string200</td>
        <td>Vystavil (kdo vystavil doklad)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_contact_tel</td>
        <td>string50</td>
        <td>Dodavatel - kontaktní telefon</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_contact_mail</td>
        <td>string100</td>
        <td>Dodavatel - kontaktní e-mail</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_contact_web</td>
        <td>string100</td>
        <td>Dodavatel - web</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_IC</td>
        <td>string20</td>
        <td>Odběratel - IČ, IČO, ...</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_DIC</td>
        <td>string20</td>
        <td>Odběratel - DIČ, IČ DPH, ...</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_IDNUM3</td>
        <td>string20</td>
        <td>Odběratel - Třetí identifikátor firmy (např. DIČ pro SK)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_name</td>
        <td>string100</td>
        <td>Odběratel - název firmy</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_firstname</td>
        <td>string100</td>
        <td>Odběratel - jméno</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_lastname</td>
        <td>string100</td>
        <td>Odběratel - příjmení</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_street</td>
        <td>string50</td>
        <td>Odběratel - ulice</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_city</td>
        <td>string50</td>
        <td>Odběratel - město</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_zip</td>
        <td>string10</td>
        <td>Odběratel - PSČ</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_country_code</td>
        <td>string2</td>
        <td>Odběratel - kód země (ISO 3166-2)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_tel</td>
        <td>string30</td>
        <td>Odběratel - kontaktní telefon</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_company</td>
        <td>string100</td>
        <td>Dodací - název firmy</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_firstname</td>
        <td>string100</td>
        <td>Dodací - jméno</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_lastname</td>
        <td>string100</td>
        <td>Dodací - příjmení</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_street</td>
        <td>string50</td>
        <td>Dodací - ulice</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_city</td>
        <td>string50</td>
        <td>Dodací - město</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_zip</td>
        <td>string10</td>
        <td>Dodací - PSČ</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_country_code</td>
        <td>string2</td>
        <td>Dodací - kód země (ISO 3166-2)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_tel</td>
        <td>string30</td>
        <td>Dodací - kontaktní telefon</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>bank_account_number</td>
        <td>string20</td>
        <td>Číslo bankovního účtu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>bank_IBAN</td>
        <td>string60</td>
        <td>Mezinárodní bankovní číslo (IBAN)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>bank_BIC</td>
        <td>string20</td>
        <td>Mezinárodní kód banky (SWIFT/BIC)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>calculate_vat</td>
        <td>int</td>
        <td>Výpočet DPH
        <blockquote>
            <code>1</code> Položky jsou uvedeny jako základ daně<br>
            <code>2</code> Položky mají koncovou cenu s DPH<br>
            <code>3</code> DPH je účtováno ve speciálním režimu<br>
            <code>4</code> DPH je v režimu přenesené daňové povinnosti v tuzemsku<br>
            <code>5</code> Neplátce DPH<br>
            <code>6</code> DPH je v režimu přenesené daňové povinnosti do zahraničí
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>round_invoice</td>
        <td>int</td>
        <td>Zaokrouhlení dokumentu
        <blockquote>
            <code>1</code> Nezaokrouhlovat<br>
            <code>2</code> Zaokrouhlit (háleřové vyrovnání)
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>order_number</td>
        <td>string255</td>
        <td>ID objednávky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text_under_subscriber</td>
        <td>string255</td>
        <td>Text pod dodavatelem</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text_under_customer</td>
        <td>string255</td>
        <td>Text pod odběratelem</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text_before_items</td>
        <td>string255</td>
        <td>Text před položkami faktury</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text_invoice_footer</td>
        <td>string255</td>
        <td>Text v patičce dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>note_internal</td>
        <td>string</td>
        <td>Interní poznámka faktury</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>mail_to</td>
        <td>array</td>
        <td>E-mailové adresy kam bude (byl) odeslán e-mail</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>language</td>
        <td>string3</td>
        <td>Jazyková mutace faktury
        <blockquote>
            <code>cs</code> Česky<br>
            <code>sk</code> Slovensky<br>
            <code>en</code> Anglicky<br>
            <code>de</code> Německy<br>
            <code>it</code> Italsky<br>
            <code>pl</code> Polsky
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>VS</td>
        <td>int</td>
        <td>Variabilní symbol</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>KS</td>
        <td>int</td>
        <td>Konstantní symbol</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>SS</td>
        <td>int</td>
        <td>Specifický symbol</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>currency</td>
        <td>string3</td>
        <td>Měna (ISO 4217)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>currency_domestic</td>
        <td>string3</td>
        <td>Domácí měna</td>
        <td>R</td>
    </tr>
    <tr>
        <td>search</td>
        <td>string255</td>
        <td>String pro vyhledávání mezi fakturami</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>exchange_rate</td>
        <td>double</td>
        <td>Převodní kurz měny</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>total</td>
        <td>double</td>
        <td>Celková částka k úhradě</td>
        <td>R</td>
    </tr>
    <tr>
        <td>total_without_vat</td>
        <td>double</td>
        <td>Celková částka k úhradě bez DPH</td>
        <td>R</td>
    </tr>
    <tr>
        <td>simpleshop_note</td>
        <td>string255</td>
        <td>Poznámka SimpleShop</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>url_public_webpage</td>
        <td>string255</td>
        <td>URL s veřejnou stránkou dokumentu</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_online_payment</td>
        <td>string255</td>
        <td>URL pro online uhrazení dokumentu. Na této adrese je přímo platební brána.</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_download_pdf</td>
        <td>string255</td>
        <td>URL pro stažení dokumentu v PDF</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_download_pdf_no_stamp</td>
        <td>string255</td>
        <td>URL pro stažení dokumentu v PDF bez razítka</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_simpleshop_order_status</td>
        <td>string255</td>
        <td>URL pro zobrazení stavu objednávky (pouze SimpleShop objednávky)</td>
        <td>R</td>
    </tr>
    <tr>
        <td>disable_automated_mails</td>
        <td>bool</td>
        <td>Vypne automatické zasílání e-mailu (uhrazení, upomínka)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>storno</td>
        <td>bool</td>
        <td>Stornuje doklad</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>oss</td>
        <td>bool</td>
        <td>Elektronická služba neplátci DPH</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>need_attention</td>
        <td>bool</td>
        <td>Objednávka vyžaduje pozornost</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>log</td>
        <td>array</td>
        <td>Historie objednavky</td>
        <td>R</td>
    </tr>
    <tr>
        <td>items (povinné)</td>
        <td>array</td>
        <td>Položky dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>related_documents</td>
        <td>array</td>
        <td>Souvisejici dokumenty</td>
        <td>R</td>
    </tr>
    <tr>
        <td>discount</td>
        <td>int</td>
        <td>Celková sleva</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>foreign_reverse_charge_code</td>
        <td>string</td>
        <td>Kód plnění v případě přenesené daňové povinnosti do zahraničí
        <blockquote>
            <code>0</code> dodání zboží plátci DPH do EU<br>
            <code>1</code> přemístění obchodního majetku plátcem DPH do EU<br>
            <code>2</code> třístranný obchod - dodání zboží uvnitř Evropského společenství<br>
            <code>3</code> poskytnutí služby s místem plnění v EU
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>domestic_reverse_charge_code</td>
        <td>string</td>
        <td>Kód plnění v případě přenesené daňové povinnosti v tuzemsku
        <blockquote>
            <code>1</code> Dodání zlata - jedná-li se o zdanitelné plnění podle § 92b zákona o dani z přidané hodnoty<br>
            <code>1a</code> Zlato - zprostředkování dodání investičního zlata<br>
            <code>3</code> Dodání nemovité věci (dodavatel uplatňuje daň podle § 56 odst. 5 zákona o DPH)<br>
            <code>3a</code> Dodání nemovité věci v nuceném prodeji<br>
            <code>4</code> Stavební a montážní práce<br>
            <code>4a</code> Stavební a montážní práce - poskytnutí pracovníků<br>
            <code>5</code> Dodání zboží dle přílohy č. 5<br>
            <code>6</code> Dodání zboží poskytnutého původně jako záruka<br>
            <code>7</code> Dodání zboží po postoupení výhrady vlastnictví<br>
            <code>11</code> Povolenky na emise skleníkových plynů<br>
            <code>12</code> Obiloviny a technické plodiny tuna<br>
            <code>13</code> Kovy<br>
            <code>14</code> Mobilní telefony<br>
            <code>15</code> Integrované obvody<br>
            <code>16</code> Přenosná zařízení pro automatizované zpracování dat<br>
            <code>17</code> Videoherní konzole<br>
            <code>18</code> Dodání certifikátů elektřiny<br>
            <code>19</code> Dodání elektřiny soustavami nebo sítěmi obchodníkovi<br>
            <code>20</code> Dodání plynu soustavami nebo sítěmi obchodníkovi<br>
            <code>21</code> Poskytnutí vymezených služeb elektronických komunikací
        </blockquote></td>
        <td>R/W</td>
    </tr>
</table>

## Položky faktury

<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>quantity</td>
        <td>double</td>
        <td>Množství</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>unit</td>
        <td>string10</td>
        <td>Množstevní jednotka (ks, kg, ...)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text (povinné)</td>
        <td>string255</td>
        <td>Text položky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>unit_price (povinné)</td>
        <td>double</td>
        <td>Cena položky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>vat_rate</td>
        <td>double</td>
        <td>Sazba DPH (%)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>vat_rate_type</td>
        <td>int</td>
        <td>Typ DPH
        <blockquote>
            <code>1</code> Vlastní / historická<br>
            <code>2</code> Základní<br>
            <code>4</code> Zvýšená<br>
            <code>8</code> Snížená<br>
            <code>16</code> Druhá snížená<br>
            <code>32</code> Nulová<br>
            <code>128</code> Třetí snížená
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>vat</td>
        <td>double</td>
        <td>Daň</td>
        <td>R</td>
    </tr>
    <tr>
        <td>total</td>
        <td>double</td>
        <td>Částka k úhradě</td>
        <td>R</td>
    </tr>
    <tr>
        <td>total_without_vat</td>
        <td>double</td>
        <td>Částka k úhradě bez DPH</td>
        <td>R</td>
    </tr>
    <tr>
        <td>data</td>
        <td>array</td>
        <td>Skrytá data k položce</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_cleneniDPH</td>
        <td>int</td>
        <td>ID členění DPH *</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_predkontace</td>
        <td>int</td>
        <td>ID předkontace *</td>
        <td>R/W</td>
    </tr>
</table>
\* Dostupné pouze přes API. Údaj se propíše k položce při exportu do účetního programu Pohoda.

## Daně

<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>base</td>
        <td>double</td>
        <td>Základ daně</td>
        <td>R</td>
    </tr>
    <tr>
        <td>vat</td>
        <td>double</td>
        <td>Daň</td>
        <td>R</td>
    </tr>
    <tr>
        <td>total</td>
        <td>double</td>
        <td>Celkem s DPH</td>
        <td>R</td>
    </tr>
</table>

### Filtrování

<table>
    <tr>
        <td>{NAZEV_SLOUPCE}</td>
        <td>Hodnota z tabulky "GET parametry při vyhledávání dokladu"</td>
    </tr>
    <tr>
        <td>{OPERATOR}</td>
        <td>
            <ul>
                <li>LT (less than) "<"</li>
                <li>GT (greater than) ">"</li>
                <li>LTEQ (less than/equal) "<="</li>
                <li>GTEQ (greater than/equal) ">="</li>
                <li>CTSTR (contains string) "LIKE"</li>
                <li>CTBIT (contains bits) "&"</li>
                <li>EQ (equals) "="</li>
            </ul>
        </td>
    </tr>
</table>
<a href="https://github.com/redbitcz/vyfakturuj-api-php/blob/master/examples/Invoice/filter-invoices.php">Ukázka použití filtru</a>


## Vytvoření faktury [/invoice/]

### Vytvoření faktury [POST]

+ Request (application/json)

        {
            "type": 1,
            "id_payment_method": 33662,
            "customer_IC": "123456789",
            "customer_DIC": "CZ123456789",
            "customer_name": "Ukázková Firma",
            "customer_street": "Pouliční 79/C",
            "customer_city": "Praha",
            "customer_zip": "10300",
            "customer_country_code": "CZ",
            "items": [
                {
                    "text": "Stěrač na ponorku",
                    "unit_price": 990.25,
                    "vat_rate": 15
                },
                {
                    "text": "Kapalina do ostřikovačů 250 ml",
                    "unit_price": 59,
                    "vat_rate": 15
                },
                {
                    "text": "Doprava",
                    "unit_price": 0,
                    "vat_rate": 0
                }
            ]
        }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 9713730,
                "id_identity": 0,
                "id_customer": -1,
                "id_number_series": 267244,
                "id_payment_method": 33662,
                "id_center": 0,
                "id_tag": 0,
                "id_predkontace": 0,
                "id_cleneniDPH": 0,
                "id_coupon": 0,
                "id_parent": 0,
                "type": 1,
                "flags": 1,
                "number": "FA250030",
                "date_created": "2025-05-22",
                "date_due": "2025-06-02",
                "date_taxable_supply": "2025-05-22",
                "date_paid": "0000-00-00",
                "date_reminder": "0000-00-00",
                "date_reminder_2": "0000-00-00",
                "date_reminder_3": "0000-00-00",
                "days_due": 11,
                "supplier_IC": "00000019",
                "supplier_DIC": "CZ00000019",
                "supplier_IDNUM3": "",
                "supplier_name": "Demo s.r.o. plátce",
                "supplier_street": "Ukázková 123",
                "supplier_city": "Ukázkov",
                "supplier_zip": "546*/",
                "supplier_country_code": "CZ",
                "supplier_contact_name": "Karel Novák",
                "supplier_contact_tel": "789456123",
                "supplier_contact_mail": "info@redbit.cz",
                "supplier_contact_web": "www.redbit.cz",
                "customer_IC": "123456789",
                "customer_DIC": "CZ123456789",
                "customer_IDNUM3": "",
                "customer_name": "Ukázková Firma",
                "customer_firstname": "",
                "customer_lastname": "",
                "customer_street": "Pouliční 79/C",
                "customer_city": "Praha",
                "customer_zip": "10300",
                "customer_country_code": "CZ",
                "customer_tel": "",
                "customer_delivery_company": "",
                "customer_delivery_firstname": "",
                "customer_delivery_lastname": "",
                "customer_delivery_street": "",
                "customer_delivery_city": "",
                "customer_delivery_zip": "",
                "customer_delivery_country_code": "",
                "customer_delivery_tel": "",
                "bank_account_number": "",
                "bank_IBAN": "",
                "bank_BIC": "",
                "calculate_vat": 1,
                "round_invoice": 1,
                "order_number": "",
                "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                "text_under_customer": "",
                "text_before_items": "text",
                "text_invoice_footer": "TEST TEST TEST TEST TEST",
                "note_internal": "",
                "mail_to": [],
                "language": "cs",
                "VS": 250030,
                "KS": "0308",
                "SS": 0,
                "currency": "CZK",
                "currency_domestic": "CZK",
                "search": "fa250030 250030 123456789 ukazkova firma 1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                "exchange_rate": 1,
                "total": "1206.64",
                "total_without_vat": "1049.25",
                "domestic-total_without_vat": "1049.25",
                "webhook_paid": "",
                "X_1": "",
                "X_2": "",
                "X_3": "",
                "discount": 0,
                "foreign_reverse_charge_code": "",
                "domestic_reverse_charge_code": "",
                "items": [
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Stěrač na ponorku",
                        "unit_price": "990.25",
                        "vat_rate": "15",
                        "vat_rate_type": 9,
                        "vat": "148.54",
                        "total": "1138.79",
                        "total_without_vat": "990.25",
                        "domestic-unit_price": "990.25",
                        "domestic-vat": "148.54",
                        "domestic-total": "1138.79",
                        "domestic-total_without_vat": "990.25",
                        "data": [],
                        "id_cleneniDPH": 0,
                        "id_predkontace": 0
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Kapalina do ostřikovačů 250 ml",
                        "unit_price": "59",
                        "vat_rate": "15",
                        "vat_rate_type": 9,
                        "vat": "8.85",
                        "total": "67.85",
                        "total_without_vat": "59",
                        "domestic-unit_price": "59",
                        "domestic-vat": "8.85",
                        "domestic-total": "67.85",
                        "domestic-total_without_vat": "59",
                        "data": [],
                        "id_cleneniDPH": 0,
                        "id_predkontace": 0
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Doprava",
                        "unit_price": "0",
                        "vat_rate": 0,
                        "vat_rate_type": 32,
                        "vat": "0",
                        "total": "0",
                        "total_without_vat": "0",
                        "domestic-unit_price": "0",
                        "domestic-vat": "0",
                        "domestic-total": "0",
                        "domestic-total_without_vat": "0",
                        "data": [],
                        "id_cleneniDPH": 0,
                        "id_predkontace": 0
                    }
                ],
                "vats": [
                    {
                        "vat_rate": 0,
                        "base": "0",
                        "vat": "0",
                        "total": "0"
                    },
                    {
                        "vat_rate": 15,
                        "base": "1049.25",
                        "vat": "157.39",
                        "total": "1206.64"
                    }
                ],
                "total_before_discount": "1206.64",
                "disable_automated_mails": false,
                "storno": false,
                "oss": false,
                "need_attention": false,
                "url_public_webpage": "https://public.vyfakturuj.cz/document/mszk5grmescd/q32ol5h8enih/",
                "url_online_payment": "https://public.vyfakturuj.cz/document/online-payment/9713730/fafef9/",
                "url_download_pdf": "https://public.vyfakturuj.cz/export/document/mszk5grmescd/?download=1",
                "url_download_pdf_no_stamp": "https://public.vyfakturuj.cz/export/document/mszk5grmescd/?download=1&nostamp=1",
                "url_app_detail": "https://app.simpleshop.cz/faktury/detail/9713730/",
                "log": [
                    {
                        "date": "2025-05-22 09:57:12",
                        "text": "Vytvořeno přes API.{vfapilogid:31851682}"
                    },
                    {
                        "date": "2025-05-22 09:57:12",
                        "text": "Vytvoření dokumentu."
                    }
                ],
                "related_documents": []
            }


### Vytvoření opravného daňového dokladu k faktuře [POST]

+ Request (application/json)

        {
            "type": 32,
            "id_parent": 9713730
        }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 9713731,
                "id_identity": 0,
                "id_customer": -1,
                "id_number_series": 303110,
                "id_payment_method": 33662,
                "id_center": 0,
                "id_tag": 0,
                "id_predkontace": 0,
                "id_cleneniDPH": 0,
                "id_coupon": 0,
                "id_parent": 9713730,
                "type": 32,
                "flags": 1,
                "number": "PP20250004",
                "date_created": "2025-05-22",
                "date_due": "2025-05-22",
                "date_taxable_supply": "2025-05-22",
                "date_paid": "0000-00-00",
                "date_reminder": "0000-00-00",
                "date_reminder_2": "0000-00-00",
                "date_reminder_3": "0000-00-00",
                "days_due": 0,
                "supplier_IC": "00000019",
                "supplier_DIC": "CZ00000019",
                "supplier_IDNUM3": "",
                "supplier_name": "Demo s.r.o. plátce",
                "supplier_street": "Ukázková 123",
                "supplier_city": "Ukázkov",
                "supplier_zip": "546*/",
                "supplier_country_code": "CZ",
                "supplier_contact_name": "Karel Novák",
                "supplier_contact_tel": "789456123",
                "supplier_contact_mail": "info@redbit.cz",
                "supplier_contact_web": "www.redbit.cz",
                "customer_IC": "123456789",
                "customer_DIC": "CZ123456789",
                "customer_IDNUM3": "",
                "customer_name": "Ukázková Firma",
                "customer_firstname": "",
                "customer_lastname": "",
                "customer_street": "Pouliční 79/C",
                "customer_city": "Praha",
                "customer_zip": "10300",
                "customer_country_code": "CZ",
                "customer_tel": "",
                "customer_delivery_company": "",
                "customer_delivery_firstname": "",
                "customer_delivery_lastname": "",
                "customer_delivery_street": "",
                "customer_delivery_city": "",
                "customer_delivery_zip": "",
                "customer_delivery_country_code": "",
                "customer_delivery_tel": "",
                "bank_account_number": "",
                "bank_IBAN": "",
                "bank_BIC": "",
                "calculate_vat": 1,
                "round_invoice": 1,
                "order_number": "",
                "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                "text_under_customer": "",
                "text_before_items": "",
                "text_invoice_footer": "TEST TEST TEST TEST TEST",
                "note_internal": "",
                "mail_to": [],
                "language": "cs",
                "VS": 250030,
                "KS": "0308",
                "SS": 0,
                "currency": "CZK",
                "currency_domestic": "CZK",
                "search": "pp20250004 250030 123456789 ukazkova firma -1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                "exchange_rate": 1,
                "total": "-1206.64",
                "total_without_vat": "-1049.25",
                "domestic-total_without_vat": "-1049.25",
                "webhook_paid": "",
                "X_1": "",
                "X_2": "",
                "X_3": "",
                "discount": 0,
                "foreign_reverse_charge_code": "",
                "domestic_reverse_charge_code": "",
                "items": [
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Stěrač na ponorku",
                        "unit_price": "-990.25",
                        "vat_rate": "15",
                        "vat_rate_type": 9,
                        "vat": "-148.54",
                        "total": "-1138.79",
                        "total_without_vat": "-990.25",
                        "domestic-unit_price": "-990.25",
                        "domestic-vat": "-148.54",
                        "domestic-total": "-1138.79",
                        "domestic-total_without_vat": "-990.25",
                        "data": [],
                        "id_cleneniDPH": 0,
                        "id_predkontace": 0
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Kapalina do ostřikovačů 250 ml",
                        "unit_price": "-59",
                        "vat_rate": "15",
                        "vat_rate_type": 9,
                        "vat": "-8.85",
                        "total": "-67.85",
                        "total_without_vat": "-59",
                        "domestic-unit_price": "-59",
                        "domestic-vat": "-8.85",
                        "domestic-total": "-67.85",
                        "domestic-total_without_vat": "-59",
                        "data": [],
                        "id_cleneniDPH": 0,
                        "id_predkontace": 0
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Doprava",
                        "unit_price": "0",
                        "vat_rate": 0,
                        "vat_rate_type": 32,
                        "vat": "0",
                        "total": "0",
                        "total_without_vat": "0",
                        "domestic-unit_price": "0",
                        "domestic-vat": "0",
                        "domestic-total": "0",
                        "domestic-total_without_vat": "0",
                        "data": [],
                        "id_cleneniDPH": 0,
                        "id_predkontace": 0
                    }
                ],
                "vats": [
                    {
                        "vat_rate": 0,
                        "base": "0",
                        "vat": "0",
                        "total": "0"
                    },
                    {
                        "vat_rate": 15,
                        "base": "-1049.25",
                        "vat": "-157.39",
                        "total": "-1206.64"
                    }
                ],
                "total_before_discount": "-1206.64",
                "disable_automated_mails": false,
                "storno": false,
                "oss": false,
                "need_attention": false,
                "url_public_webpage": "https://public.vyfakturuj.cz/document/rk8x7ajld9tj/cg8xlcrub48m/",
                "url_online_payment": "https://public.vyfakturuj.cz/document/online-payment/9713731/05873d/",
                "url_download_pdf": "https://public.vyfakturuj.cz/export/document/rk8x7ajld9tj/?download=1",
                "url_download_pdf_no_stamp": "https://public.vyfakturuj.cz/export/document/rk8x7ajld9tj/?download=1&nostamp=1",
                "url_app_detail": "https://app.simpleshop.cz/faktury/detail/9713731/",
                "log": [
                    {
                        "date": "2025-05-22 09:57:13",
                        "text": "Vytvořen opravný doklad k {vfiid:9713730:FA250030}. "
                    },
                    {
                        "date": "2025-05-22 09:57:13",
                        "text": "Vytvořeno přes API.{vfapilogid:31851683}"
                    },
                    {
                        "date": "2025-05-22 09:57:13",
                        "text": "Vytvoření dokumentu."
                    }
                ],
                "related_documents": {
                    "9713730": {
                        "id": 9713730,
                        "id_identity": 0,
                        "id_customer": -1,
                        "id_number_series": 267244,
                        "id_payment_method": 33662,
                        "id_center": 0,
                        "id_tag": 0,
                        "id_predkontace": 0,
                        "id_cleneniDPH": 0,
                        "id_coupon": 0,
                        "id_parent": 0,
                        "type": 1,
                        "flags": 1,
                        "number": "FA250030",
                        "date_created": "2025-05-22",
                        "date_due": "2025-06-02",
                        "date_taxable_supply": "2025-05-22",
                        "date_paid": "0000-00-00",
                        "date_reminder": "0000-00-00",
                        "date_reminder_2": "0000-00-00",
                        "date_reminder_3": "0000-00-00",
                        "days_due": 11,
                        "supplier_IC": "00000019",
                        "supplier_DIC": "CZ00000019",
                        "supplier_IDNUM3": "",
                        "supplier_name": "Demo s.r.o. plátce",
                        "supplier_street": "Ukázková 123",
                        "supplier_city": "Ukázkov",
                        "supplier_zip": "546*/",
                        "supplier_country_code": "CZ",
                        "supplier_contact_name": "Karel Novák",
                        "supplier_contact_tel": "789456123",
                        "supplier_contact_mail": "info@redbit.cz",
                        "supplier_contact_web": "www.redbit.cz",
                        "customer_IC": "123456789",
                        "customer_DIC": "CZ123456789",
                        "customer_IDNUM3": "",
                        "customer_name": "Ukázková Firma",
                        "customer_firstname": "",
                        "customer_lastname": "",
                        "customer_street": "Pouliční 79/C",
                        "customer_city": "Praha",
                        "customer_zip": "10300",
                        "customer_country_code": "CZ",
                        "customer_tel": "",
                        "customer_delivery_company": "",
                        "customer_delivery_firstname": "",
                        "customer_delivery_lastname": "",
                        "customer_delivery_street": "",
                        "customer_delivery_city": "",
                        "customer_delivery_zip": "",
                        "customer_delivery_country_code": "",
                        "customer_delivery_tel": "",
                        "bank_account_number": "",
                        "bank_IBAN": "",
                        "bank_BIC": "",
                        "calculate_vat": 1,
                        "round_invoice": 1,
                        "order_number": "",
                        "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                        "text_under_customer": "",
                        "text_before_items": "text",
                        "text_invoice_footer": "TEST TEST TEST TEST TEST",
                        "note_internal": "",
                        "mail_to": [],
                        "language": "cs",
                        "VS": 250030,
                        "KS": "0308",
                        "SS": 0,
                        "currency": "CZK",
                        "currency_domestic": "CZK",
                        "search": "fa250030 250030 123456789 ukazkova firma 1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                        "exchange_rate": 1,
                        "total": "1206.64",
                        "total_without_vat": "1049.25",
                        "domestic-total_without_vat": "1049.25",
                        "webhook_paid": "",
                        "X_1": "",
                        "X_2": "",
                        "X_3": "",
                        "discount": 0,
                        "foreign_reverse_charge_code": "",
                        "domestic_reverse_charge_code": "",
                        "items": [
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Stěrač na ponorku",
                                "unit_price": "990.25",
                                "vat_rate": "15",
                                "vat_rate_type": 9,
                                "vat": "148.54",
                                "total": "1138.79",
                                "total_without_vat": "990.25",
                                "domestic-unit_price": "990.25",
                                "domestic-vat": "148.54",
                                "domestic-total": "1138.79",
                                "domestic-total_without_vat": "990.25",
                                "data": [],
                                "id_cleneniDPH": 0,
                                "id_predkontace": 0
                            },
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Kapalina do ostřikovačů 250 ml",
                                "unit_price": "59",
                                "vat_rate": "15",
                                "vat_rate_type": 9,
                                "vat": "8.85",
                                "total": "67.85",
                                "total_without_vat": "59",
                                "domestic-unit_price": "59",
                                "domestic-vat": "8.85",
                                "domestic-total": "67.85",
                                "domestic-total_without_vat": "59",
                                "data": [],
                                "id_cleneniDPH": 0,
                                "id_predkontace": 0
[...]
